.topContainer {
  font: 16px arial, sans-serif;
  color: #444;
  fill: #999;
}
.topContainer.small {
  font: 14px arial, sans-serif;
}

.searchContainer {
  background: #fff;
  display: flex;
  height: 39px;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  border: 1px solid #ccc;
  /* width: calc(100% - 2px); */
}

.searchContainer.small {
  border-radius: 16px;
  height: 30px;
}

.searchContainerExpanded {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.searchContainerExpandedShadow, .searchContainerShadow:hover {
  border-color: transparent;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.flexContainer {
  flex: 1;
  display: flex;
  padding: 5px 4px 0 16px;
  padding-left: 14px;
}

.searchIconContainer {
  display: flex;
  align-items: center;
  padding-right: 8px;
  margin-top: -2px;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  padding-left: 8px;
  margin-top: 8px;
  align-self: end;
}

.spinnerContainer.small {
  display: flex;
  align-items: center;
  padding-left: 8px;
  margin-top: 2px;
  align-self: end;
}

.searchIcon {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
}

.clearButton {
  color: #9aa0a6;
  height: 32px;
  width: 32px;
  border: 0;
  background: transparent;
}

.clearButton.small {
  height: 21px;
  width: 32px;
}

.inputField {
  color: #444;
  font: 16px arial, sans-serif;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: -36px;
  height: 34px;
}

.inputField.small {
  font: 14px arial, sans-serif;
  margin-top: -41px;
}

.inputContainer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.inputFieldContainer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
}

.inputFieldContainer span {
  padding: 0;
}

.resultContainer {
  text-align: left;
  margin-top: -2px;
  z-index: 900;
  cursor: default;
}

.resultListContainer {
  background: #fff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 0 0 24px 24px;
  overflow: scroll;
  border-top: 0;
}

.resultListContainer.small {
  border-radius: 0 0 16px 16px;
}

.resultListContainerExpandedShadow {
  border-color: transparent;
  box-shadow: 0 5px 6px 0 rgba(32, 33, 36, 0.28);
}

.resultList {
  flex: auto;
  padding-left: 10px;
  margin-top: 4px;
}

.resultSeperatorContainer {
  border: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.resultSeperatorContainerShadow {
  border: 0;
}

.resultSeperator {
  border-top: 1px solid #e8eaed;
  margin: 0 14px;
}

.resultListItem {
  display: flex;
  align-items: center;
  min-width: 0;
  max-height: none;
  padding: 0;
}

.resultItem {
  margin: 6px;
}

.resultItem.small {
  margin: 5px;
}

.resultItemControl {
  margin-right: 14px;
}

.resultItemLabel {
  display: inline-block;
  margin-left: 25px;
  text-indent: -31px;
}

.linkChoice {
  text-decoration: none;
  color: #444;
  margin-left: 23px;
  text-indent: -28px;
  padding: 4px;
}

.linkChoice:hover, .linkChoice:focus {
  text-decoration: underline;
}

.chipContainer {
  margin-top: 8px;
}
